<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saebom.bulletinboard.comment.repository.CommentMapper">

    <sql id="commentBaseColumns">
        c.id,
        c.article_id,
        c.member_id,
        c.content,
        c.created_at,
        c.updated_at
    </sql>

    <sql id="commentAuthorColumns">
        m.username AS member_username,
        m.name AS member_name
    </sql>

    <resultMap id="commentDtoResultMap"
               type="com.saebom.bulletinboard.comment.dto.CommentDto">
        <id property="id" column="id"/>
        <result property="articleId" column="article_id"/>
        <result property="memberId" column="member_id"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="memberUsername" column="member_username"/>
        <result property="memberName" column="member_name"/>
    </resultMap>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO comments (
            article_id,
            member_id,
            content
        )
        VALUES (
            #{articleId},
            #{memberId},
            #{content}
        )
    </insert>

    <select id="findDomainById"
            resultType="com.saebom.bulletinboard.comment.domain.Comment">
        SELECT
        <include refid="commentBaseColumns"/>
        FROM comments c
        WHERE c.id = #{id}
    </select>

    <select id="findById"
            resultMap="commentDtoResultMap">
        SELECT
        <include refid="commentBaseColumns"/>,
        <include refid="commentAuthorColumns"/>
        FROM comments c
        JOIN members m ON c.member_id = m.id
        WHERE c.id = #{id}
    </select>

    <select id="findByArticleId"
            resultMap="commentDtoResultMap">
        SELECT
        <include refid="commentBaseColumns"/>,
        <include refid="commentAuthorColumns"/>
        FROM comments c
        JOIN members m ON c.member_id = m.id
        WHERE c.article_id = #{articleId}
        ORDER BY c.created_at ASC
    </select>

    <select id="findByMemberId"
            resultMap="commentDtoResultMap">
        SELECT
        <include refid="commentBaseColumns"/>,
        <include refid="commentAuthorColumns"/>
        FROM comments c
        JOIN members m ON c.member_id = m.id
        WHERE c.member_id = #{memberId}
        ORDER BY c.created_at DESC
    </select>

    <update id="update">
        UPDATE comments c
        SET c.content = #{content}
        WHERE c.id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM comments c
        WHERE c.id = #{id}
    </delete>

</mapper>